
@{
    ViewBag.Title = "registration";
}

<h2>Registration</h2>
<form method="post" action="login">
    <input type="text" name="name" />
    <input type="text" name="id" />
    <input type="email" name="email" />
    <input type="text" name="dob" />
    <input type="submit" name="submit" />
</form>

