
@{
    ViewBag.Title = "Project";
}

<h2>Project</h2>
<ul>
    <li>ATM PROJECT-PL1</li>
    <li>BANKING PROJECT-JAVA</li>
    <li>TARA MASQUE PROJECT-COMPUTER GRAPHICH</li>
    <li> PROJECT-</li>
</ul>

